@media screen {
    /* margin and padding must be 0 for .page width and height values to work */
    * {
        font-family: Cardo, sans-serif;
        margin: 0;
        padding: 0;
    }

    /* The margin of each page, change as desired*/
    .body {
        padding: 5rem 10%;
        display: flex;
        flex-direction: column;
    }

    .body__info {
        margin-bottom: 2rem;
    }

    .body__button-box {
        margin-top: 2rem;
    }

    .button-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        gap: calc((0.75vw + 0.75vh) * 0.8);
    }

    .info {
        font-family: Roboto;
        font-size: max(1.0em, 1.1vw);
        font-style: italic;
    }

    .textarea {
        border: 2px solid black;
        border-radius: 5px;
        padding: 0.5em;
        resize: none;
    }

    .text-input {
        border: 2px solid black;
        border-radius: 5px;
        padding: 0.2em 0.8em;
    }

    .page {
        display: flex;
        flex-direction: column;
    }

    .page__button {
        margin: 1rem 0;
        align-self: flex-end;
    }

    .button {
        padding: 0.4em;
        background: none;
        border: 2px solid black;
        border-radius: 15px;
        font-size: 1.1em;
    }

    .button:hover {
        background: black;
        color: white;
        transition-duration: 0.4s;
    }

    .button:active {
        background: grey;
        color: white;
        transition-duration: 0.0s;
    }

    .box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        gap: calc((0.75vw + 0.75vh) * 0.8);
    }

    .box__quote-body {
        font-size: 1.4em;
        /* font-size: 2.0em; */
    }
    .box__author {
        font-size: 1.2em;
        /* font-size: 1.7em; */
        font-style: italic;
    }
    .no-screen {
        display: none;
    }
}