
@media print {
    /* margin and padding must be 0 for .page width and height values to work */
    * {
        font-family: Cardo, sans-serif;
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
    }

    /* Page class describes every printable page, and creates a full width and
    * height for each so that each quote will be printed on its own page*/
    .page {
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /* The margin of each page, change as desired*/
    .page__box {
        margin: 15% 10%;
    }

    .box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        gap: calc((1.25vw + 0.75vh) * 1.35);
    }
    .box__author {
        font-style: italic;
    }
    /* Adds the dash and spacing before the author text*/
    .box__author::before {
        content: "- ";
        padding-left: 1.5em;
    }
    .no-print {
        display: none;
    }
}